.container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.select {
    margin: 10px;
}

.button {
    background-color: pink;
    margin: 5px;
    color: white;
    border: white;
    padding: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: plum;
}